/**
 * Styles for code-mode.
 */

.codeBuiltinFace {
  -fx-fill: #AACCFF;
}

.codePreprocessorFace {
  -fx-fill: #AAFFFF;
}

.codeCommentFace {
  -fx-fill: #C5A7F2;
  -fx-font-style: italic;
}

.codeConstantFace {
  -fx-fill: #92B3F4;
}

.codeDocFace {
  -fx-fill: LightSalmon;
}

.codeKeywordFace {
  -fx-fill: #F2E294;
}

.codeStringFace {
  -fx-fill: #B3E1A7;
}

.codeModuleFace {
  -fx-fill: #92B3F4;
}

.codeTypeFace {
  -fx-fill: #E590A8;
}

.codeVariableFace {
  -fx-fill: #EFB68E;
}

.codeFunctionFace {
  -fx-fill: #309797;
}

.codeInvalidFace {
  -fx-fill: DarkOrange;
  -fx-font-weight: bold;
}

.blockDelimFace {
  -fx-underline: true;
}

.blockErrorFace {
  -fx-fill: Red;
}

.activeChoiceFace {
  -fx-bg-fill: DarkSlateBlue;
}

/** TODO: from emacs
 '(show-paren-match ((t (:background "#330"))))
 '(show-paren-mismatch ((t (:background "red"))))
*/
